<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Register</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div>
        <a href="" style="color: black">الرئيسية</a
        ><a href="login/market"
          ><img
            width="30px"
            height="30px"
            src="register-account-symbol.png"
            alt="account logo"
            style="vertical-align: middle"
          />تسجيل دخول</a
        >
      </div>
      <img
        src="extended-logo-header.png"
        alt="logo"
        width="200px"
        height="100%"
      />
    </header>
    <div class="main-body">
      <h1>انشئ حسابك</h1>
      <h2>انشئ حسابك لتبدأ رحلتك في متجرنا</h2>
      <form action="login/market" #form="ngForm">
        <div class="input-name">
          <label for="">اسم المتجر</label>
          <span class="input-span">
            <input
              type="text"
              name="marketName"
              required
              [(ngModel)]="marketName"
              minlength="3"
            />
            <span *ngIf="form.submitted && form.controls.marketName.invalid"
              >اسم المتجر يجب أن يكون 3 حروف أو اكثر</span
            >
          </span>
        </div>
        <div class="input-phone-number">
          <label for="">الفرع</label>
          <span class="input-span">
            <input type="text" name="branch" required [(ngModel)]="branch" />
            <span *ngIf="form.submitted && form.controls.branch.invalid"
              >اسم الفرع مطلوب</span
            >
          </span>
        </div>
        <div class="input-email">
          <label for="">البريد الالكتروني</label>
          <span class="input-span">
            <input
              type="email"
              name="email"
              placeholder="abdefg&#64;gmail.com"
              required
              [(ngModel)]="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,99}$"
            />
            <span *ngIf="form.submitted && form.controls.email.invalid"
              >البريد يجب أن يكون صحيح</span
            >
          </span>
        </div>
        <div class="input-password">
          <label for="">كلمة المرور</label>
          <span class="input-span">
            <input
              type="password"
              name="password"
              id=""
              placeholder="************************"
              required
              [(ngModel)]="password"
              minlength="6"
              maxlength="20"
            />
            <span *ngIf="form.submitted && form.controls.password.invalid"
              >كلمة المرور يجب أن تكون بين 6 و 20 رمز</span
            >
          </span>
        </div>
        <div>
          <label for="">رقم الجوال</label>
          <span class="input-span">
            <input
              type="text"
              name="phone"
              required
              [(ngModel)]="phone"
              pattern="[0-9]{10}"
            />
            <span *ngIf="form.submitted && form.controls.phone.invalid"
              >رقم الجوال يجب أن يكون صحيح</span
            >
          </span>
        </div>
        <div>
          <label for="" class="block-label">السجل التجاري</label>

          <input
            type="file"
            name="comRegister"
            id="pdfFile"
            class="pdf-image"
            required
            [(ngModel)]="comRegister"
          />
          <span class="input-span">
            <label for="pdfFile" class="sudo-file">
              <span id="pdf-label">أضف صورة أو ملف pdf</span>
              <span><img src="pdf.png" alt="" /></span>
            </label>
            <span *ngIf="form.submitted && form.controls.comRegister.invalid"
              >السجل التجاري مطلوب</span
            >
            <span
              style="color: rgb(84, 84, 84)"
              *ngIf="form.controls.comRegister.valid"
              >{{
                form.controls.comRegister.value.slice(
                  form.controls.comRegister.value.lastIndexOf("\\") + 1
                )
              }}</span
            >
          </span>
        </div>
        <div>
          <label for="" style="width: fit-content; margin-left: 10px"
            >أرفق صورة لشعار المتجر</label
          >

          <input
            type="file"
            name="icon"
            id="marketImage"
            required
            [(ngModel)]="icon"
          />
          <label for="marketImage" class="sudo-image"
            ><img src="addImage.png" alt="" width="50px" he
          /></label>
        </div>
        <span>
          <span
            *ngIf="form.submitted && form.controls.icon.invalid"
            style="color: brown; font-weight: 100"
            >صورة المتجر مطلوبة</span
          >
          <span
            style="color: rgb(84, 84, 84); font-weight: 100"
            *ngIf="form.controls.icon.valid"
            >{{
              form.controls.icon.value.slice(
                form.controls.icon.value.lastIndexOf("\\") + 1
              )
            }}</span
          >
        </span>
        <div class="button-submit">
          <button type="submit" (click)="registerForm(form)">تسجيل دخول</button>
        </div>
        <div class="prompt-has-account">
          لديك حساب بالفعل؟
          <a href="login/market">تسجيل الدخول</a>
        </div>
      </form>
    </div>

    <footer>
      <div class="upper-footer">
        <section>
          <div class="contact">تواصل معنا</div>
          <div>+057776854</div>
          <div>bobobobo&#64;gmail.com</div>
          <div>Saudi Arabia - Riyadh</div>
        </section>
        <section>
          <div class="us">من نحن</div>
          <div>الدعم</div>
          <div>الامان والسرية</div>
          <div></div>
        </section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section class="footer-logo">
          <img
            src="extended-logo-footer.png"
            alt="logo"
            width="100%"
            height="100px"
          />
        </section>
      </div>
      <div class="lower-footer">جميع الحقوق محفوظة | المجمع 2024</div>
    </footer>
  </body>
</html>
