<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>select-account-type</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div>
        <a href="" style="color: black">الرئيسية</a
        ><a href=""
          ><img
            width="30px"
            height="30px"
            src="register-account-symbol.png"
            alt="account logo"
            style="vertical-align: middle"
          />تسجيل دخول</a
        >
      </div>
      <img
        src="extended-logo-header.png"
        alt="logo"
        width="200px"
        height="100%"
      />
    </header>

    <!-- Main Content -->
    <div class="main-body">
      <h1>اختر نوع الحساب</h1>
      <h2>اختر نوع الحساب الذي تود إنشاؤه</h2>
      <form>
        <div class="btn-hover">
          <a href="register/customer"><button type="button">مستفيد</button></a>
          <a href="register/market"><button type="button">متجر</button></a>
          <a href="register/collector"
            ><button type="button">مندوب تجميع</button></a
          >
        </div>
      </form>
    </div>

    <footer>
      <div class="upper-footer">
        <section>
          <div class="contact">تواصل معنا</div>
          <div>+057776854</div>
          <div>bobobobo&#64;gmail.com</div>
          <div>Saudi Arabia - Riyadh</div>
        </section>
        <section>
          <div class="us">من نحن</div>
          <div>الدعم</div>
          <div>الامان والسرية</div>
          <div></div>
        </section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section class="footer-logo">
          <img
            src="extended-logo-footer.png"
            alt="logo"
            width="100%"
            height="100px"
          />
        </section>
      </div>
      <div class="lower-footer">جميع الحقوق محفوظة | المجمع 2024</div>
    </footer>
  </body>
</html>
