<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>select-account-type</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header>
      <div>
        <a href="" style="color: black">الرئيسية</a
        ><a href=""
          ><img
            width="30px"
            height="30px"
            src="register-account-symbol.png"
            alt="account logo"
            style="vertical-align: middle"
          />تسجيل دخول</a
        >
      </div>
      <img
        src="extended-logo-header.png"
        alt="logo"
        width="200px"
        height="100%"
      />
    </header>
    <div class="branch">
      <section></section>
      <h1>الشرائع - مخطط 2</h1>
      <img src="panda.jpg" alt="" />
      <section></section>
    </div>
    <!-- Main Content -->
    <div class="main-body">
      <input type="text" placeholder="البحث عن المنتج" class="search" />
      <div class="category">
        <section>العناية الشخصية</section>
        <section class="product-scroll" id="productScroll">
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
        </section>
      </div>
      <div class="category">
        <section>المناديل والبليستيكيات</section>
        <section class="product-scroll" id="productScroll">
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
        </section>
      </div>
      <div class="category">
        <section>مواد تنظيف</section>
        <section class="product-scroll" id="productScroll">
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
          <div class="product-display"></div>
        </section>
      </div>
      <div class="btn-hover">
        <a href=""
          ><button type="button" class="first-button">المزيد</button></a
        >
      </div>
    </div>

    <footer>
      <div class="upper-footer">
        <section>
          <div class="contact">تواصل معنا</div>
          <div>+057776854</div>
          <div>bobobobo&#64;gmail.com</div>
          <div>Saudi Arabia - Riyadh</div>
        </section>
        <section>
          <div class="us">من نحن</div>
          <div>الدعم</div>
          <div>الامان والسرية</div>
          <div></div>
        </section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section class="footer-logo">
          <img
            src="extended-logo-footer.png"
            alt="logo"
            width="100%"
            height="100px"
          />
        </section>
      </div>
      <div class="lower-footer">جميع الحقوق محفوظة | المجمع 2024</div>
    </footer>
  </body>
</html>
